
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(230, 228, 228);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.input-text{
  font-weight: bold;
  font-size: 20px;
  height: 30px;
  
  
}

.input-text.task{
  width: 100%;
}

.input-text.name{
  background-color: rgb(230, 228, 228);
  border-style: hidden;
}

.options {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.options label {
  background-color: rgb(255, 255, 255);
  height: 150px;
  width: 150px;
  border-radius: 10px;
  position: relative;
  
}

.label-contents {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-todo{
  margin-bottom: 50px;
}

.todo-item{
  display: flex;
  justify-content: space-between;
  background-color: gray;
  margin-bottom: 10px;
  border-radius: 5px;
}

.input-submit{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(236, 70, 98);
}

button {

}